name = "ExactPredicates"
uuid = "429591f6-91af-11e9-00e2-59fbe8cec110"
authors = ["Pierre Lairez <pierre@lairez.fr>"]
description = "Fast and exact geometrical predicates in the Euclidean plane"
licence = "MIT"
version = "2.2.2"

[deps]
IntervalArithmetic = "d1acc4aa-44c8-5952-acd4-ba5d80a2a253"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
IntervalArithmetic = "^0.17"
StaticArrays = "^0.12"
julia = "^1.1"
